.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.tl {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

