.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
}

.tl {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Добавьте немного отступа между тудулистами */
}
